<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Mardi film!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% set flashbag = app.session.flashbag.all %}
        {% if flashbag is not empty %}
            <div class="messages-container">
                {% for type, messages in flashbag %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="container">
            <h1 class="text-center">Mardi film</h1>
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
