<div class="row">
    <div class="col-md-12">
        <h2>La prochaine séance ciné n'est pas encore configurée</h2>
        <p>Veuillez appuyer sur le bouton ci-dessous pour la créer</p>

        {{ form_start(createSessionForm) }}
        <input type="submit" value="Créer la session" class="btn btn-success btn-large">
        {{ form_end(createSessionForm) }}
    </div>
</div>
